/* Base styles */
* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #081b31;
    color: white;
    font-weight: 700;
    font-size: 5rem;
    line-height: 5rem;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 5rem;
}

.choice {
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.choice:hover {
    border: 2px solid black;
    cursor: pointer;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.scorebord {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 5rem;
    gap: 5rem;
}

#user-score, #comp-score {
    font-weight: 600;
    font-size: 2.6rem;
}

.msg-container {
    margin-top: 3rem;
}

#msg {
    background-color: #081b31;
    color: #fff;
    font-size: 3rem;
    display: inline;
    padding: 1rem;
    border-radius: 2rem;
}

/* Media queries for responsiveness */

/* For tablets and small desktops */
@media (max-width: 1024px) {
    h1 {
        font-size: 4rem;
        line-height: 4rem;
    }

    .choice {
        height: 130px;
        width: 180px;
    }

    .scorebord {
        font-size: 1.8rem;
        gap: 4rem;
    }

    #user-score, #comp-score {
        font-size: 2.4rem;
    }

    #msg {
        font-size: 2.5rem;
        padding: 0.8rem;
    }
}

/* For mobile phones */
@media (max-width: 768px) {
    h1 {
        font-size: 3rem;
        line-height: 3rem;
    }

    .choice {
        height: 200px;
        width: 200px;
    }

    .scorebord {
        font-size: 1.5rem;
        gap: 3rem;
    }

    #user-score, #comp-score {
        font-size: 2.3rem;
    }

    #msg {
        font-size: 2.2rem;
        padding: 0.8rem;
    }
}

/* For small mobile phones */
@media (max-width: 480px) {
    h1 {
        font-size: 2.2rem;
        line-height: 2.5rem;
        padding: 1rem;
    }

    .choice {
        height: 80px;
        width: 120px;
    }

    .scorebord {
        font-size: 1.2rem;
        flex-direction: column;
        gap: 2rem;
    }

    #user-score, #comp-score {
        font-size: 1.6rem;
    }

    #msg {
        font-size: 1.5rem;
        padding: 0.4rem;
    }
}
